name: latest

on:
  push:
    paths-ignore:
      - '*.md'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-2025

    steps:
      # https://zenn.dev/kt3k/articles/d557cc874961ab
      - name: Checkout Repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: '3.x'
          architecture: 'x64'
        
      - name: Download git-restore-mtime
        run: curl -O https://raw.githubusercontent.com/MestreLion/git-tools/main/git-restore-mtime
      - name: Restore mtime
        run: python ./git-restore-mtime

      - name: Build
        run: cargo build --verbose
